body {
    margin: 0;
    min-height: 920px !important;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #efefef87;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
    border-right: solid 0.2px #0c0c0c;
  }
  
  .navbarCustom{
    /* margin-left: 300px; */
    display: none !important;
  }

  .content {
    margin-left: 300px;
    padding: 16px;
    height: auto;
  }

  @media screen and (max-width: 900px) {
    .sidebar {
        width: 200px;
      /* width: 100%;
      height: auto;
      position: relative; */
      /* display: none; */
    }
    .content{
        margin-left: 200px;
    }
    .navbarCustom{
        margin-left: 200px;
      }
}
  
  @media screen and (max-width: 700px) {
    .sidebar {
      /* width: 100%;
      height: auto;
      position: relative; */
      display: none;
    }
    /* .sidebar a {float: left;} */
    .content {
      
      margin-left: 0;}
    .navbarCustom{
        display: inherit !important;
        margin-left: 0px;
      }
  }
