<!DOCTYPE html>
<html lang="en">

<head>
    <% include layout/head %>
</head>

<body>
    <div class="sidebar">

        <!-- Card -->
        <div class="card  p-2">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="/images/user.png" style="width: 120px;" class="rounded-circle border border-dark" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body text-center">
                <!-- Name -->
                <h4 class="card-title ">Musa Baloyi</h4>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i> Drummer | Programmer</p>
            </div>

        </div>
        <!-- Card -->
        <!-- Menu -->
        <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect arrow-r active"><i
                      class="sv-slim-icon fas fa-chevron-right"></i>
                    Submit blog<i class="fas fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect active">
                                <span class="sv-slim"> SL </span>
                                <span class="sv-normal">Submit listing</span></a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> RF </span>
                                <span class="sv-normal">Registration form</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i
                      class="sv-slim-icon far fa-hand-point-right"></i>
                    Instruction<i class="fas fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> FB </span>
                                <span class="sv-normal">For bloggers</span></a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> FA </span>
                                <span class="sv-normal">For authors</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-eye"></i> About<i
                      class="fas fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> I </span>
                                <span class="sv-normal">Introduction</span></a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> MM </span>
                                <span class="sv-normal">Monthly meetings</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon far fa-envelope"></i>
                    Contact me<i class="fas fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> F </span>
                                <span class="sv-normal">FAQ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                <span class="sv-slim"> W </span>
                                <span class="sv-normal">Write a message</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Menu -->

    </div>

    <div class="content">
        <h2>Responsive Sidebar Example</h2>
        <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>
</body>
<% include layout/script %>

</html>