<div style="
    font-family: SourceCodePro,Menlo,Monaco,Consolas,'Courier New',monospace;
    margin: auto;
    padding-top: 30px;
    text-align: center;">
    <h2 style="font-size: 86px;">
        &lt;
        <%= error.status %> &gt;
    </h2>
    <h1 style="font-size: 48px;">
        &lt;/
        <%= message %> &gt;
    </h1>

    <p style="font-size: 20px;
    color: red;">Sorry your match is not on this page try going to <a href="/">Home</a> <br> <em><strong>before someone snatches your future partner!!!!!!!!</strong></em></p>

    <!-- <pre><%= error.stack %></pre> -->
</div>