<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layout/head %>
</head>

<body>
    <div class="container-fluid bg-3 text-center ">
        <div class="md-sm col-6 mx-auto pt-5">
            <!-- Default form login -->
            <form class="text-center login-form " action="forgot">

                <h1 class="h1 mb-2">Password Reset</h1>
                <p class="h6 mb-4">
                    <em>
                    <strong>
                        Enter your the email address that you used to register. We'll send you an email with your username and new password.
                    </strong>
                </em>
                </p>

                <!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                <!-- Send Link button -->
                <button class="btn my-4 blue lighten-2 mb-5" type="submit">Send</button>

                <hr>
                <div class="d-flex justify-content-around ">
                    <!-- Home -->
                    <p>
                        <a class="btn btn-outline-primary" href="/">Home</a>
                    </p>
                    <!-- Login -->
                    <p>
                        <a class="btn btn-outline-primary" href="/user/login">Login</a>
                    </p>
                    <!-- Register -->
                    <p>
                        <a class="btn btn-outline-primary" href="/user/register">Register</a>
                    </p>
                </div>
            </form>
            <!-- Default form login -->
        </div>
    </div>
</body>

</html>