<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layout/head %>
</head>

<body>
    <div class="container-fluid bg-3 text-center ">
        <div class="md-sm col-12 mx-auto pt-5">
            <!-- Default form login -->
            <form class="text-center login-form" action="" method="POST">

                <p class="h4 mb-4">Sign in</p>

                <!-- Email -->
                <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" required>
                <small id="error_email"></small>

                <!-- Password -->
                <input type="password" id="password" class="form-control mb-4" placeholder="Password" required>
                <small id="error_password"></small>


                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <!-- Reset -->
                        <small>
                        <a href="/user/forgot">Forgot Password</a>
                    </small>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn my-4 blue lighten-2" type="submit">Sign in</button>

                <!-- Register -->
                <p>Not a member?
                    <a href="/user/register">Register</a>
                </p>

                <hr>
                <div class="d-flex justify-content-around ">
                    <!-- Home -->
                    <p>
                        <a class="btn btn-outline-primary my-4 " href="/">Home</a>
                    </p>
                </div>

            </form>
            <!-- Default form login -->
        </div>
    </div>
</body>
<% include ../layout/script%>

</html>