.image-upload-container {
    width: 160px;
    height: 160px;
    border-radius: 4px;
    margin: 10px 10px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img {
        width: 150px;
        height: 160px;
    }
    input[type="file"] {
        display: none;
    }
}

.App {
    font-family: sans-serif;
    /* text-align: center; */
    background-color: #f6f9fe;
    height: 100vh;
}

.image-item {
    display: flex;
    margin: 10px 0;
}

.image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

button {
    height: 40px;
}