    <!-- Footer -->
<footer class="page-footer font-small blue pt-4 ">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left p-5">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3 pl-5">
      
              <!-- Content -->
              <h5 class="text-uppercase">Matcha</h5>
              <p>Web application used as a dating service, 
                that allows users to use a swiping motion to like 
                (swipe right) or dislike (swipe left) other users,
                 and allows users to chat if both parties like each other (a “match”).
                </p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Find Us</h5>
      
              <ul class="list-unstyled pt-3">
                <li>
                  <p>84 Albertina Sisulu Rd</p>
                </li>
                <li>
                    <p>Johannesburg</p>
                  </li>
                  <li>
                      <p>2000</p>
                    </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Contact Us</h5>
      
              <ul class="list-unstyled">
                <li>
                  <p>
                    <strong>
                      <em>For all things technical and app-related.</em>
                    </strong>
                    <em>
                      <br>
                        <a href="#">support@matcha.com</a>
                    </em>
                  </p>
                </li>
                <li>
                    <p>
                      <strong>
                        <em>Interested in partnering with Matcha?</em>
                      </strong>
                      <em>
                        <br>
                          <a href="#">partners@matcha.com</a>
                      </em>
                    </p>
                </li>
                <li>
                    <p>
                      <strong>
                        <em>Interested in including Matcha in your next article or blog?</em>
                      </strong>
                      <em>
                        <br>
                          <a href="#">press@matcha.com</a>
                      </em>
                    </p>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright |
          <a href="/"> Matcha.com</a>
        </div>
        <!-- Copyright -->
</footer>
<script src="/javascripts/mdb.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/menu.js"></script>