<div class="sidebar">

    <!-- Card -->
    <div class="card  p-2">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
            <img src="/images/user.png" style="width: 120px;" class="rounded-circle border border-dark" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body text-center">
            <!-- Name -->
            <h4 class="card-title ">Musa Baloyi</h4>
            <hr>
            <!-- Quotation -->
            <p><i class="fas fa-quote-left"></i> Drummer | Programmer</p>
        </div>

    </div>
    <!-- Card -->

</div>